<article class="sidebar-target5">
    <h4>Display</h4>

    <section class="card-blue">
        <h5>Display</h5>
        <p>Display classes are made to provide different displays with different screen sizes, add a states keywords to use it as a special effect !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/variables/_display.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/states/classes/_display.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
    </section>

    <table class="table">
        <caption>Display Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for display in displayClasses %}
            <tr>
                <th>{{ display.class }}</th>
                <td>{{ display.valor }}</td>
                <td>{{ display.property }}</td>
                <td>{{ display.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ display.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
