<article class="menu-target5">
    <h4>Height</h4>

    <section class="card-black">
        <h5>Height</h5>
        <p>Height classes are made to provide heights, add a box keywords to use it as a special effect !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/box/variables/_height.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/box/classes/_height.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Height Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for height in heightClasses %}
            <tr>
                <th>{{ height.class }}</th>
                <td>{{ height.valor }}</td>
                <td>{{ height.property }}</td>
                <td>{{ height.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ height.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
