<article class="menu-target2">
    <h4>Margin</h4>

    <section class="card-black">
        <h5>Mar</h5>
        <p>Mar classes are made to provide margins, add a box keywords to use it as a special effect !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/box/variables/_margin.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/box/classes/_margin.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Mar Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for mar in marginClasses %}
            <tr>
                <th>{{ mar.class }}</th>
                <td>{{ mar.valor }}</td>
                <td>{{ mar.property }}</td>
                <td>{{ mar.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ mar.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
