{% extends 'layout/layout.twig' %}

{% block subtitle %}States{% endblock %}

{% block description %}Animadio Documentation about Animadio States : anima, display, position, bg & color{% endblock %}

{% block script %}<script src="js/states.js"></script>{% endblock %}

{% block main %}

    <article>
        <h2>States</h2>

        <section class="card-purple">
            <figure>
                <i class="fas fa-cogs fa-7x" aria-hidden="true"></i>
            </figure>
            <h3>States Usage</h3>
            <p>To use States feature, you need to add the States keyword(s) after the States class(es) with a hyphens "-" between them in order to get the desired effect.</p>
            <a class="btn" href="https://cdn.jsdelivr.net/npm/animadio@2.4.4/dist/animadio-states.css" title="Access to Animadio States CDN" rel="noreferrer noopener" target="_blank">
                <i class="fas fa-server fa-lg color-white color-blue-into" aria-hidden="true"></i>
            </a>
            <a class="btn" href="https://github.com/animadio/animadio/blob/master/dist/animadio-states.css" title="View CSS Library @GitHub" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-css3 fa-lg color-white color-blue-into" aria-hidden="true"></i>
            </a>
        </section>

        <table class="table">
            <caption>States Datas</caption>

            <thead>
            <tr>
                <th>Keywords</th>
                <th>Trigger</th>
                <th>Relay</th>
                <th>Target</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>&empty;</td>
                <td>Class</td>
                <td>&empty;</td>
                <td>Class</td>
            </tr>
            <tr>
                <td>global</td>
                <td>Global class</td>
                <td>&empty;</td>
                <td>Children of Global class</td>
            </tr>
            <tr>
                <td>into</td>
                <td>Hover|Focus the parent of Into class</td>
                <td>&empty;</td>
                <td>Into class</td>
            </tr>
            <tr>
                <td>onto</td>
                <td>Hover|Focus the Onto class</td>
                <td>&empty;</td>
                <td>Onto class</td>
            </tr>
            <tr>
                <td>toall</td>
                <td>Hover|Focus the Toall class</td>
                <td>&empty;</td>
                <td>Children of Toall class</td>
            </tr>
            <tr>
                <td>toone</td>
                <td>Hover|Focus a child of Toone class</td>
                <td>&empty;</td>
                <td>Child of Toone class</td>
            </tr>
            <tr>
                <td>check + hub + goal</td>
                <td>Check class Checked</td>
                <td>Hub class</td>
                <td>Goal class</td>
            </tr>
            <tr>
                <td>radio1 + relay + target1</td>
                <td>Radio1 class Checked</td>
                <td>Relay class</td>
                <td>Target1 class</td>
            </tr>
            <tr>
                <td>radio2 + relay + target2</td>
                <td>Radio2 class Checked</td>
                <td>Relay class</td>
                <td>Target2 class</td>
            </tr>
            <tr>
                <td>radio3 + relay + target3</td>
                <td>Radio3 class Checked</td>
                <td>Relay class</td>
                <td>Target3 class</td>
            </tr>
            <tr>
                <td>radio4 + relay + target4</td>
                <td>Radio4 class Checked</td>
                <td>Relay class</td>
                <td>Target4 class</td>
            </tr>
            <tr>
                <td>radio5 + relay + target5</td>
                <td>Radio5 class Checked</td>
                <td>Relay class</td>
                <td>Target5 class</td>
            </tr>
            </tbody>
        </table>

        <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
        <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
        <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">
        <input id="menu-radio4" class="menu-radio4" type="radio" name="menu">
        <input id="menu-radio5" class="menu-radio5" type="radio" name="menu">

        <nav class="menu">
            <label for="menu-radio1" title="Show Anima Classes">
                Anima
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-radio2" title="Show Display Classes">
                Display
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-radio3" title="Show Position Classes">
                Position
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-radio4" title="Show Bg Classes">
                Bg
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
            <label for="menu-radio5" title="Show Color Classes">
                Color
                <i class="fas fa-caret-up fa-2x" aria-hidden="true"></i>
            </label>
        </nav>

        <section class="menu-relay">
            <h3>States Parts</h3>

            {{ include("front/states/anima.twig") }}
            {{ include("front/states/display.twig") }}
            {{ include("front/states/position.twig") }}
            {{ include("front/states/bg.twig") }}
            {{ include("front/states/color.twig") }}

        </section>
    </article>
{% endblock %}
