{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">
<input id="menu-radio4" 
    class="menu-radio4" 
    type="radio" 
    name="menu">
<input id="menu-radio5" 
    class="menu-radio5" 
    type="radio" 
    name="menu">
<input id="menu-radio6" 
    class="menu-radio6" 
    type="radio" 
    name="menu">
<input id="menu-radio7" 
    class="menu-radio7" 
    type="radio"
    name="menu">
<input id="menu-radio8" 
    class="menu-radio8" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Show the Classes">
        <i class="fas fa-magic"></i>
        <span>
            Classes
        </span>
    </label>
    <label for="menu-radio2" 
        title="Show the Variables">
        <i class="fas fa-glass-whiskey"></i>
        <span>
            Variables
        </span>
    </label>
    <label for="menu-radio3" 
        title="Show the Animations">
        <i class="far fa-images"></i>
        <span>
            Animations
        </span>
    </label>
    <label for="menu-radio4" 
        title="Show the Breakpoints">
        <i class="fas fa-mobile-alt"></i>
        <span>
            Breakpoints
        </span>
    </label>
    <label for="menu-radio5" 
        title="Show the Elements">
        <i class="fas fa-sitemap"></i>
        <span>
            Elements
        </span>
    </label>
    <label for="menu-radio6" 
        title="Show the Themes">
        <i class="fas fa-palette"></i>
        <span>
            Themes
        </span>
    </label>
    <label for="menu-radio7" 
        title="Show the Templates">
        <i class="fas fa-box-open"></i>
        <span>
            Templates
        </span>
    </label>
    <label for="menu-radio8" 
        title="Show the Users">
        <i class="fas fa-user"></i>
        <span>
            Users
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("back/admin/listClasses.twig") }}
    {{ include("back/admin/listVariables.twig") }}
    {{ include("back/admin/listAnimations.twig") }}
    {{ include("back/admin/listBreakpoints.twig") }}
    {{ include("back/admin/listElements.twig") }}
    {{ include("back/admin/listThemes.twig") }}
    {{ include("back/admin/listTemplates.twig") }}
    {{ include("back/admin/listUsers.twig") }}
    
</main>
{% endblock %}
