<section class="menu-target7">
    <h2>
        <i class="fas fa-box-open"></i> 
        Templates
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('template!create') }}">
        New Template
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Template</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>

        {% for template in templates %}
            <tr>
                <td class="width-sm">
                    <a class="button-secondary"
                        href="https://codepen.io/philippebeck/pen/{{ template.link }}"
                        title="Go to the {{ template.name }} Pen">
                        <figure>
                            <img src="img/templates/{{ template.name|lower }}.png" 
                                alt="The {{ template.name }} example">
                            <figcaption>
                                {{ template.name }} 
                            </figcaption>
                        </figure>                        
                    </a>
                </td>
                <td>
                    {{ template.definition }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('template!update', {'id': template.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('template!delete', {'id': template.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
