<section class="menu-target4">
    <h2>
        <i class="fa-solid fa-map"></i> 
        Breakpoints
    </h2>

    <a 
        class="btn-green btn-lg" 
        href="{{ url('breakpoint!create') }}">
        New Breakpoint
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Key</th>
                <th>Screen Width</th>
            </tr>
        </thead>
        <tbody>

        {% for breakpoint in breakpoints %}
            <tr>
                <td>
                    {{ breakpoint.media }}
                </td>
                <td>
                    min-width: {{ breakpoint.width }}
                    <br>
                    <a 
                        class="btn-blue" 
                        href="{{ url('breakpoint!update', {'id': breakpoint.id}) }}">
                        <i class="fa-solid fa-pen-square fa-fw"></i>
                    </a>
                    <a 
                        class="btn-red" 
                        href="{{ url('breakpoint!delete', {'id': breakpoint.id}) }}">
                        <i class="fa-solid fa-times-circle fa-fw"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
