{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">
<input id="menu-radio4" 
    class="menu-radio4" 
    type="radio" 
    name="menu">
<input id="menu-radio5" 
    class="menu-radio5" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Show the Classes">
        <i class="fa-solid fa-magic"></i>
        <span>
            Classes
        </span>
    </label>
    <label for="menu-radio2" 
        title="Show the Variables">
        <i class="fa-solid fa-glass-whiskey"></i>
        <span>
            Variables
        </span>
    </label>
    <label for="menu-radio3" 
        title="Show the Animations">
        <i class="fa-regular fa-images"></i>
        <span>
            Animations
        </span>
    </label>
    <label for="menu-radio4" 
        title="Show the Breakpoints">
        <i class="fa-solid fa-mobile-alt"></i>
        <span>
            Breakpoints
        </span>
    </label>
    <label for="menu-radio5" 
        title="Show the Administrators">
        <i class="fa-solid fa-user-ninja"></i>
        <span>
            Admins
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("back/adminClasses.twig") }}
    {{ include("back/adminVariables.twig") }}
    {{ include("back/adminAnimations.twig") }}
    {{ include("back/adminBreakpoints.twig") }}
    {{ include("back/adminUsers.twig") }}
    
</main>
{% endblock %}
