{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label class="button-violet" for="menu-radio1" title="Show the Keyframes">
            <i class="fas fa-infinity color-violet-onto"></i>
            <span class="color-violet-onto">Keyframes</span>
        </label>
        <label class="button-red" for="menu-radio2" title="Show the Grid">
            <i class="fas fa-th color-red-onto"></i>
            <span class="color-red-onto">Grid</span>
        </label>
        <label class="button-brown" for="menu-radio3" title="Show the Users">
            <i class="fas fa-user color-brown-onto"></i>
            <span class="color-brown-onto">Users</span>
        </label>
    </nav>

    <main class="menu-relay">
        <section class="menu-target1">
            <h2><i class="fas fa-infinity"></i>Keyframes</h2>

            <a class="btn-green btn-lg" href="{{ url('variable!create') }}">New Variable</a>

            <table class="table">
                <thead>
                <tr>
                    <th>Keyframes</th>
                    <th>Effect</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <th>Keyframes</th>
                    <th>Effect</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
        </section>

        <section class="menu-target2">
            <h2><i class="fas fa-th"></i>Grid</h2>

            <a class="btn-green btn-lg" href="{{ url('class!create') }}">New Class</a>

            <table class="table">
                <thead>
                <tr>
                    <th>Grid</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <th>Grid</th>
                    <th>Value</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
            </table>
        </section>


        <section class="menu-target3">
            <h2><i class="far fa-user"></i>User</h2>

            <a class="btn-green btn-lg" href="{{ url('user!create') }}">New User</a>

            <table class="table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <figure>
                                <img class="bord-violet" src="img/user/{{ user.image }}" alt="Screenshot of {{ user.name }}">
                                <figcaption>{{ user.name }}</figcaption>
                            </figure>
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn-orange" href="{{ url('user!logout') }}">
                                <i class="fas fa-sign-out-alt fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-blue" href="{{ url('user!update', {'id': user.id}) }}">
                                <i class="fas fa-pen-square fa-fw fa-lg"></i>
                            </a>
                            <a class="btn-red" href="{{ url('user!delete', {'id': user.id}) }}">
                                <i class="fas fa-times-circle fa-fw fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
