{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">
<input id="menu-radio4" 
    class="menu-radio4" 
    type="radio" 
    name="menu">
<input id="menu-radio5" 
    class="menu-radio5" 
    type="radio" 
    name="menu">
<input id="menu-radio6" 
    class="menu-radio6" 
    type="radio" 
    name="menu">
<input id="menu-radio7" 
    class="menu-radio7" 
    type="radio"
    name="menu">
<input id="menu-radio8" 
    class="menu-radio8" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label class="button-violet" 
        for="menu-radio1" 
        title="Show the Mixins">
        <i class="fas fa-industry onto-color-violet"></i>
        <span class="onto-color-violet">
            Mixins
        </span>
    </label>
    <label class="button-blue" 
        for="menu-radio2" 
        title="Show the Variables">
        <i class="fas fa-glass-whiskey onto-color-blue"></i>
        <span class="onto-color-blue">
            Variables
        </span>
    </label>
    <label class="button-cyan" 
        for="menu-radio3" 
        title="Show the Keyframes">
        <i class="fas fa-images onto-color-cyan"></i>
        <span class="onto-color-cyan">
            Keyframes
        </span>
    </label>
    <label class="button-green" 
        for="menu-radio4" 
        title="Show the Classes">
        <i class="fas fa-magic onto-color-green"></i>
        <span class="onto-color-green">
            Classes
        </span>
    </label>
    <label class="button-brown" 
        for="menu-radio5" 
        title="Show the Elements">
        <i class="fas fa-sitemap onto-color-brown"></i>
        <span class="onto-color-brown">
            Elements
        </span>
    </label>
    <label class="button-orange" 
        for="menu-radio6" 
        title="Show the Themes">
        <i class="fas fa-palette onto-color-orange"></i>
        <span class="onto-color-orange">
            Themes
        </span>
    </label>
    <label class="button-violet" 
        for="menu-radio7" 
        title="Show the Templates">
        <i class="fas fa-box-open onto-color-violet"></i>
        <span class="onto-color-violet">
            Templates
        </span>
    </label>
    <label class="button-green" 
        for="menu-radio8" 
        title="Show the Users">
        <i class="fas fa-users onto-color-green"></i>
        <span class="onto-color-green">
            Users
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("back/admin/mixins.twig") }}
    {{ include("back/admin/variables.twig") }}
    {{ include("back/admin/keyframes.twig") }}
    {{ include("back/admin/classes.twig") }}
    {{ include("back/admin/elements.twig") }}
    {{ include("back/admin/themes.twig") }}
    {{ include("back/admin/templates.twig") }}
    {{ include("back/admin/users.twig") }}
    
</main>
{% endblock %}
