<section class="menu-target3">
    <h2>
        <i class="far fa-images"></i> 
        Animations
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('animation!create') }}">
        New Animation
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Animation
                </th>
                <th>
                    Effect
                    <hr>
                    Category
                </th>
            </tr>
        </thead>
        <tbody>

        {% for animation in animations %}
            <tr>
                <td>
                    {{ animation.name }}
                    <br>
                    <a class="btn-blue" 
                        href="{{ url('animation!update', {'id': animation.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('animation!delete', {'id': animation.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
                <td>
                    {{ animation.effect }}  
                    <hr>
                    {{ animation.category }}                  
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
