<section class="menu-target5">
    <h2>
        <i class="fa-solid fa-palette"></i> 
        Themes
    </h2>

    <a 
        class="btn-green btn-lg" 
        href="{{ url('theme!create') }}">
        New Theme
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Theme</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>

        {% for theme in themes %}
            <tr>
                <td class="width-sm">
                    <a 
                        class="button-primary"
                        href="https://codepen.io/philippebeck/pen/{{ theme.link }}"
                        title="Go to the {{ theme.name }} Pen">
                        <figure>
                            <img 
                                src="img/themes/{{ theme.name|lower }}.png" 
                                alt="The {{ theme.name }} example">
                            <figcaption>
                                {{ theme.name }} 
                            </figcaption>
                        </figure>                        
                    </a>
                </td>
                <td>
                    {{ theme.definition }}
                    <br>
                    <a 
                        class="btn-blue" 
                        href="{{ url('theme!update', {'id': theme.id}) }}">
                        <i class="fa-solid fa-pen-square fa-fw"></i>
                    </a>
                    <a 
                        class="btn-red" 
                        href="{{ url('theme!delete', {'id': theme.id}) }}">
                        <i class="fa-solid fa-times-circle fa-fw"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
