<section class="menu-target2">
    <h2>
        <i class="fa-solid fa-glass-whiskey"></i> 
        Variables
    </h2>

    <a 
        class="btn-green btn-lg" 
        href="{{ url('variable!create') }}">
        New Variable
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Variable
                </th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>

        {% for variable in variables %}
            <tr>
                <td>
                    --{{ variable.name }} 
                    <br>
                    <a 
                        class="btn-blue" 
                        href="{{ url('variable!update', {'id': variable.id}) }}">
                        <i class="fa-solid fa-pen-square fa-fw"></i>
                    </a>
                    <a 
                        class="btn-red" 
                        href="{{ url('variable!delete', {'id': variable.id}) }}">
                        <i class="fa-solid fa-times-circle fa-fw"></i>
                    </a>
                </td>
                <td>
                    {{ variable.category }}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
