<section class="menu-target5">
    <h2>
        <i class="fa-solid fa-user-ninja"></i> 
        Administrators
    </h2>

    <a 
        class="btn-green btn-lg" 
        href="{{ url('user!create') }}">
        New Administrator
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Administrator</th>
            </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <td>
                    <figure>
                        <img 
                            class="bord-violet" 
                            src="img/user/{{ user.image }}" 
                            alt="Photo de {{ user.name }}">
                        <figcaption>
                            {{ user.name }}
                        </figcaption>
                    </figure>
                    <a 
                        class="btn-blue" 
                        href="{{ url('user!update', {'id': user.id}) }}"
                        title="Edit the Administrator">
                        <i class="fa-solid fa-pen-square fa-fw"></i>
                    </a>
                    <a 
                        class="btn-red" 
                        href="{{ url('user!delete', {'id': user.id}) }}"
                        title="Delete the Administrator">
                        <i class="fa-solid fa-times-circle fa-fw"></i>
                    </a>
                    <br>
                    <p>
                        {{ user.email }}
                    </p>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
