{% extends 'layout/layout.twig' %}

{% block title %}Update a Class{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('class!update', {'id': class.id}) }}>
        <fieldset>
            <legend>
                <i class="fas fa-magic fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="name">
                        Name
                    </label>
                    <input id="name" 
                        name="name" 
                        type="text" 
                        maxlength="20" 
                        value="{{ class.name }}"
                        required>
                </li>
                <li>
                    <label for="category_id">
                        Category
                    </label>
                    <select id="category_id" 
                        name="category_id"
                        required>
                        
                        <option value="">
                            -- Select a Category
                        </option>

                    {% for category in categories %}

                        {% if category.id is same as(class.category_id) %}
                            <option value="{{ category.id }}" 
                                selected>
                                {{ category.category }} (Registred)
                            </option>

                        {% else %}
                            <option value="{{ category.id }}">
                                {{ category.category }}
                            </option>
                        {% endif %}

                    {% endfor %}

                    </select>
                </li>
                <li>
                    <label for="state_id">
                        State
                    </label>
                    <select id="state_id" 
                        name="state_id"
                        required>
                        
                        <option value="">
                            -- Select a State
                        </option>

                    {% for state in states %}

                        {% if state.id is same as(class.state_id) %}
                            <option value="{{ state.id }}" 
                                selected>
                                {{ state.state }} (Registred)
                            </option>

                        {% else %}
                            <option value="{{ state.id }}">
                                {{ state.state }}
                            </option>
                        {% endif %}

                    {% endfor %}

                    </select>
                </li>
                <li>
                    <label for="media">
                        Media
                    </label>
                    <input name="media"
                        type="hidden"
                        value="0">
                    <input id="media" 
                        name="media" 
                        type="checkbox"
                        value="1"
                        {% if class.media %}checked{% endif %}>
                </li>
                <li>
                    <label for="concat">
                        Concat
                    </label>
                    <input name="concat"
                        type="hidden"
                        value="0">
                    <input id="concat" 
                        name="concat" 
                        type="checkbox"
                        value="1"
                        {% if class.concat %}checked{% endif %}>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Reset">
                    <input type="submit" 
                        value="Update">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quit
    </a>
</main>
{% endblock %}
