<article class="menu-target3">
    <h4>Align</h4>

    <section class="card-orange">
        <h5>Align</h5>
        <p>Align classes are made to provide text align, add global to use for children !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/helpers/variables/_align.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/helpers/classes/_align.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Align Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for align in alignClasses %}
            <tr>
                <th>{{ align.class }}</th>
                <td>{{ align.valor }}</td>
                <td>{{ align.property }}</td>
                <td>{{ align.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ align.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
