<article class="menu-target5">
    <h4>Shatex</h4>

    <section class="card-orange">
        <h5>Shatex</h5>
        <p>Shatex classes are made to provide text shadows, add global to use for children !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/helpers/variables/_shatex.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/helpers/classes/_shatex.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Shatex Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for shatex in shatexClasses %}
            <tr>
                <th>{{ shatex.class }}</th>
                <td>{{ shatex.valor }}</td>
                <td>{{ shatex.property }}</td>
                <td>{{ shatex.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ shatex.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
