<section class="menu-target6">
    <h2>
        <i class="fas fa-palette"></i> 
        Themes
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('theme!create') }}">
        New Theme
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Name (Id)</th>
                <th>Definition</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for theme in themes %}
            <tr>
                <td class="width-sm">
                    <a class="button-violet"
                        href="https://codepen.io/animadio/pen/{{ theme.link }}"
                        title="Go to the {{ theme.name }} Pen">
                        <figure>
                            <img src="img/themes/{{ theme.name|lower }}.png" 
                                alt="The {{ theme.name }} example">
                            <figcaption>
                                {{ theme.name }} 
                                ({{ theme.id }})
                            </figcaption>
                        </figure>                        
                    </a>
                </td>
                <td>
                    {{ theme.definition }}
                </td>
                <td>
                    <a class="btn-blue" 
                        href="{{ url('theme!update', {'id': theme.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <br>
                    <a class="btn-red" 
                        href="{{ url('theme!delete', {'id': theme.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
