<section class="menu-target3">
    <h2>
        <i class="far fa-images"></i> 
        Animations
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('animation!create') }}">
        New Animation
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Animation</th>
                <th>Effect (Category)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for animation in animations %}
            <tr>
                <td>
                    {{ animation.name }} ({{ animation.category_id }})
                </td>
                <td>
                    {{ animation.effect }}                    
                </td>
                <td>
                    <a class="btn-blue" 
                        href="{{ url('animation!update', {'id': animation.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('animation!delete', {'id': animation.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
