<section class="menu-target1">
    <h2>
        <i class="fas fa-magic"></i> 
        Classes
    </h2>

    <a class="btn-secondary btn-lg" 
        href="{{ url('class!create') }}">
        New Class
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                    <br>
                    (Id)
                </th>
                <th>
                    Naming
                    <hr>
                    Category
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for class in classes %}
            <tr>
                <td>
                    .{{ class.name }} 
                    <br>
                    ({{ class.id }})
                </td>
                <td>

                {% if class.media == 1 %}
                    <i class="fas fa-mobile-alt"></i>
                {% endif %}

                {% if class.concat == 1 %}
                    <i class="fas fa-link"></i>
                {% endif %}

                {% if class.state != "no" %}
                    {{ class.state }}
                {% else %}
                    {% if class.media == 0 and class.concat == 0 %}                           
                        {{ class.state }}
                    {% endif %}   
                {% endif %}

                <hr>
                {{ class.category }}

                </td>
                <td>
                    <a class="btn-blue" 
                        href="{{ url('class!update', {'id': class.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <br>
                    <a class="btn-red" 
                        href="{{ url('class!delete', {'id': class.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
