<section class="menu-target5">
    <h2>
        <i class="fas fa-industry"></i> 
        Mixins
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('mixin!create') }}">
        New Mixin
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Mixin</th>
                <th>Result</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for mixin in mixins %}
            <tr>
                <td>
                    {{ mixin.name }}
                </td>
                <td>
                    {{ mixin.result }}
                </td>
                <td>
                    <a class="btn-blue" 
                        href="{{ url('mixin!update', {'id': mixin.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('mixin!delete', {'id': mixin.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
