<section class="menu-target3">
    <h2>
        <i class="fas fa-images"></i> 
        Keyframes
    </h2>

    <a class="btn-green btn-lg" 
        href="{{ url('keyframe!create') }}">
        New Keyframe
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>Keyframe</th>
                <th>Effect (Category)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for keyframe in keyframes %}
            <tr>
                <td>
                    {{ keyframe.name }}
                </td>
                <td>
                    {{ keyframe.effect }}
                    <br>
                    ({{ keyframe.category_id }})
                </td>
                <td>
                    <a class="btn-blue" 
                        href="{{ url('keyframe!update', {'id': keyframe.id}) }}">
                        <i class="fas fa-pen-square fa-fw fa-lg"></i>
                    </a>
                    <a class="btn-red" 
                        href="{{ url('keyframe!delete', {'id': keyframe.id}) }}">
                        <i class="fas fa-times-circle fa-fw fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</section>
