<article class="menu-target1">
    <h4>Grid | Fluid</h4>

    <section class="card-red">
        <h5>Grid Infos</h5>
        <p>You can concat each media keywords with the Grid | Fluid classes...</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/grid/variables/_grid.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/grid/classes/_grid.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Grid Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for grid in gridClasses %}
            <tr>
                <th>{{ grid.class }}</th>
                <td>{{ grid.valor }}</td>
                <td>{{ grid.property }}</td>
                <td>{{ grid.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ grid.concat|replace({'1': "yes", '0': "no"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
