<article class="sidebar-target3">
    <h4>Card</h4>

    <section class="card-green">
        <h5>Card Infos</h5>
        <p>You can use Card classes with differents colors !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/KKPmGvE" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-white color-blue-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_card.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_card.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
    </section>

    <section>
        <h5>Card Examples</h5>

        {% for card in cardClasses %}
            <section class="{{ card.class }}">
                <figure>
                    <img src="img/logo.png" alt="Animadio Logo">
                </figure>
                <h6>{{ card.class }}</h6>
                <p>The only class to write inside HTML is "{{ card.class }}" for this card & you can add as many btn or button you want ! </p>
                <a class="{{ card.class|replace({ 'card': "btn" }) }}" href="#">
                    <i class="fas fa-stop-circle"></i>
                    {{ card.class|replace({ 'card': "btn" }) }}
                </a>
                <a class="{{ card.class|replace({ 'card': "button" }) }}" href="#">
                    <i class="far fa-stop-circle"></i>
                    {{ card.class|replace({ 'card': "button" }) }}
                </a>
            </section>

            <pre>
<span class="color-silver">&lt;</span><span class="color-red">section</span><span class="color-coral font-italic"> class=</span>"{{ card.class }}"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;</span><span class="color-red">figure</span><span class="color-silver">&gt;</span>
        <span class="color-silver">&lt;</span><span class="color-red">img</span><span class="color-coral font-italic"> src=</span>"#"<span class="color-coral font-italic"> alt=</span>"#"<span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;/</span><span class="color-red">figure</span><span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;</span><span class="color-red">h5</span><span class="color-silver">&gt;</span><span class="color-white">{{ card.class|replace({'-': " "})|title }} Title</span><span class="color-silver">&lt;/</span><span class="color-red">h5</span><span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;</span><span class="color-red">p</span><span class="color-silver">&gt;</span><span class="color-white">{{ card.class|replace({'-': " "})|title }} Message</span><span class="color-silver">&lt;/</span><span class="color-red">p</span><span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;</span><span class="color-red">a</span><span class="color-coral font-italic"> class=</span>"{{ card.class|replace({ 'card': "btn" }) }}"<span class="color-coral font-italic"> href=</span>"#"<span class="color-silver">&gt;</span><span class="color-white">{{ card.class|replace({'-': " "})|title }} Btn</span><span class="color-silver">&lt;/</span><span class="color-red">a</span><span class="color-silver">&gt;</span>
    <span class="color-silver">&lt;</span><span class="color-red">a</span><span class="color-coral font-italic"> class=</span>"{{ card.class|replace({ 'card': "button" }) }}"<span class="color-coral font-italic"> href=</span>"#"<span class="color-silver">&gt;</span><span class="color-white">{{ card.class|replace({'-': " "})|title }} Button</span><span class="color-silver">&lt;/</span><span class="color-red">a</span><span class="color-silver">&gt;</span>
<span class="color-silver">&lt;/</span><span class="color-red">section</span><span class="color-silver">&gt;</span></pre>
        {% endfor %}
    </section>

    <table class="table">
        <caption>Card Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Primary Value</th>
            <th>Secondary Value</th>
            <th>Third Value</th>
        </tr>
        </thead>

        <tbody>
        {% for card in cardClasses %}
            <tr>
                <th>{{ card.class }}</th>
                <td>{{ card.primary_value }}</td>
                <td>{{ card.secondary_value }}</td>
                <td>{{ card.third_value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
