{% extends 'layout/layout.twig' %}

{% block title %}Documentation{% endblock %}

{% block description %}Global, Grid, Elements, States & Helpers{% endblock %}

{% block main %}
<input 
    id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input 
    id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input 
    id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">
<input 
    id="menu-radio4" 
    class="menu-radio4" 
    type="radio" 
    name="menu">
<input 
    id="menu-radio5" 
    class="menu-radio5" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1">
        <i class="fa-solid fa-magic fa-lg fa-fw"></i>
        <span>
            Classes
        </span>
    </label>
    <label for="menu-radio2">
        <i class="fa-solid fa-glass-whiskey fa-lg fa-fw"></i>
        <span>
            Variables
        </span>
    </label>
    <label for="menu-radio3">
        <i class="fa-regular fa-images fa-lg fa-fw"></i>
        <span>
            Animation
        </span>
    </label>
    <label for="menu-radio4">
        <i class="fa-solid fa-mobile-alt fa-lg fa-fw"></i>
        <span>
            Responsive
        </span>
    </label>
    <label for="menu-radio5">
        <i class="fa-solid fa-code fa-lg fa-fw"></i>
        <span>
            Tags
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("front/docClasses.twig") }}
    {{ include("front/docVariables.twig") }}
    {{ include("front/docAnimation.twig") }}
    {{ include("front/docResponsive.twig") }}
    {{ include("front/docTags.twig") }}
    
</main>
{% endblock %}
