{% extends 'layout/layout.twig' %}

{% block title %}Documentation{% endblock %}

{% block description %}Global, Grid, Elements, States & Helpers{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu">
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu"
    checked>
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">
<input id="menu-radio4" 
    class="menu-radio4" 
    type="radio" 
    name="menu">
<input id="menu-radio5" 
    class="menu-radio5" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label class="button-violet" 
        for="menu-radio1">
        <i class="fas fa-industry onto-color-violet"></i>
        <span class="onto-color-violet">
            Mixins
        </span>
    </label>
    <label class="button-green" 
        for="menu-radio2">
        <i class="fas fa-glass-whiskey onto-color-green"></i>
        <span class="onto-color-green">
            Variables
        </span>
    </label>
    <label class="button-violet" 
        for="menu-radio3">
        <i class="far fa-images onto-color-violet"></i>
        <span class="onto-color-violet">
            Keyframes
        </span>
    </label>
    <label class="button-green" 
        for="menu-radio4">
        <i class="fas fa-code onto-color-green"></i>
        <span class="onto-color-green">
            Tags
        </span>
    </label>
    <label class="button-violet" 
        for="menu-radio5">
        <i class="fas fa-magic onto-color-violet"></i>
        <span class="onto-color-violet">
            Classes
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("front/doc/mixins.twig") }}
    {{ include("front/doc/variables.twig") }}
    {{ include("front/doc/keyframes.twig") }}
    {{ include("front/doc/tags.twig") }}
    {{ include("front/doc/classes.twig") }}
    
</main>
{% endblock %}
