{% extends 'layout/layout.twig' %}

{% block subtitle %}Documentation{% endblock %}

{% block summary %}Global, Grid, Elements, States & Helpers{% endblock %}

{% block main %}
    <img src="img/under-construction.jpg" alt="Under Construction Picture">

    {#
    <a href="https://www.npmjs.com/package/animadio" title="Go to Package !">
        <img src="https://img.shields.io/npm/v/animadio.svg?label=NPM" alt="NPM Badge of Animadio">
    </a>

    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">
    <input id="menu-radio4" class="menu-radio4" type="radio" name="menu">
    <input id="menu-radio5" class="menu-radio5" type="radio" name="menu">

    <nav class="menu">
        <label class="button-purple" for="menu-radio1" title="Read the Global Doc">
            <i class="fas fa-infinity color-purple-into"></i>
            <span class="color-purple-into">Global</span>
        </label>
        <label class="button-red" for="menu-radio2" title="Read the Grid Doc">
            <i class="fas fa-th color-red-into"></i>
            <span class="color-red-into">Grid</span>
        </label>
        <label class="button-green" for="menu-radio3" title="Read the Elements Doc">
            <i class="fas fa-sitemap color-green-into"></i>
            <span class="color-green-into">Elements</span>
        </label>
        <label class="button-blue" for="menu-radio4" title="Read the States Doc">
            <i class="fas fa-cogs color-blue-into"></i>
            <span class="color-blue-into">States</span>
        </label>
        <label class="button-orange" for="menu-radio5" title="Read the Helpers Doc">
            <i class="fas fa-life-ring color-orange-into"></i>
            <span class="color-orange-into">Helpers</span>
        </label>
    </nav>

    <main class="menu-relay">
        {{ include("front/global/global.twig") }}
        {{ include("front/grid/grid.twig") }}
        {{ include("front/elements/elements.twig") }}
        {{ include("front/states/states.twig") }}
        {{ include("front/helpers/helpers.twig") }}
    </main>
    #}

{% endblock %}
