<article 
    id="variable-home"
    class="menu-target2">
    <h2>
        <i class="fa-solid fa-glass-whiskey fa-lg"></i>
        Variables
    </h2>

    <header class="head">
        Look at Variables on GitHub here :
        <ul class="row">
            <li>
                <a 
                    class="btn-primary"
                    href="https://github.com/philippebeck/animadio/tree/master/src/scss/_maps.scss"
                    title="Go to the Maps file in the GitHub Repository">
                    Maps
                </a>
            </li>
            <li>
                <a 
                    class="btn-primary"
                    href="https://github.com/philippebeck/animadio/tree/master/src/scss/_vars.scss"
                    title="Go to the Vars file in the GitHub Repository">
                    Vars
                </a>
            </li>
        </ul>
        Or you can find their full list bellow...
    </header>

    <nav class="sidebar">
        <input 
            id="sidebar-variable"
            class="sidebar-check" 
            type="checkbox">
        <label 
            for="sidebar-variable"
            class="sidebar-open" 
            title="Show Sidebar">
            <i class="fa-regular fa-eye fa-fw"></i>
        </label>
        <label 
            for="sidebar-variable"
            title="Hide Sidebar">
            <i class="fa-regular fa-eye-slash fa-fw"></i>
        </label>

        {% for category in variables|keys %}
        <a 
            href="#variable-{{ category }}" 
            title="Go to {{ category }} Variables !">
        {{ category }}
        </a>
        {% endfor %}

        <a 
            href="#variable-home" 
            title="Variable Home">
            <i class="fa-solid fa-chevron-circle-up fa-fw"></i>
        </a>
    </nav>

    <i 
        class="fa-solid fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    <section id="variable-list">
        <h3>
            <i class="fa-solid fa-list"></i> 
            Variable List
        </h3>

        <ul class="container-90tn-80lg-70wd flex">

            {% for category in variables|keys %}

            <li>
                <a 
                    class="button-primary"
                    href="#variable-{{ category }}" 
                    title="Go to {{ category }} Variables !">
                {{ category }}
                </a>
            </li>

            {% endfor %}
        </ul>

        <i 
            class="fa-solid fa-sort fa-2x mar-top-lg"
            aria-hidden="true">
        </i>

        {% for category, variableCat in variables %}

        <section id="variable-{{ category }}">
            <h4>{{ category|title }}</h4>

            <table class="table">
                <tbody>

                    {% for variable in variableCat %} 
                    <tr>
                        <td>
                            --{{ variable.name }}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </section>

        {% endfor %}
    </section>
</article>
