{% extends 'layout/layout.twig' %}

{% block title %}Elements{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <header class="head">
        You can find here the 12 Animadio Elements with the HTML code for each !
    </header>

    <section>
        <h2 class="anima-openX-into">
            <i class="fas fa-sitemap fa-lg"></i>
            Included Elements
        </h2>

        <figure class="gallery anima-slideT-this">

        {% for element in elements %}

            <figure>
                <a href="https://codepen.io/animadio/pen/{{ element.link }}" 
                    title="See the {{ element.name }} Pen for HTML Code">
                    <img src="img/elements/{{ element.name|lower }}.png" 
                        alt="The {{ element.name }} example">
                <figcaption>
                    <a href="https://codepen.io/pen/?template={{ element.link }}" 
                        title="See the {{ element.name }} Template for HTML Code">
                        <h3>{{ element.name }}</h3>
                        <p>{{ element.definition }}</p>
                        <i class="fas fa-sitemap"></i>
                    </a>
                </figcaption>
            </figure>

        {% endfor %}

        </figure>
    </section>
</main>
{% endblock %}
