{% extends 'layout/layout.twig' %}

{% block title %}Themes{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <header class="head">
        You can find here 6 Themes for Animadio with the CSS code for each ! 
        <br>
        (Themes under Construction)
    </header>

    <section>
        <h2 class="anima-slideT-this">
            <i class="fa-solid fa-palette fa-lg"></i>
            Available Themes
        </h2>

        <figure class="gallery">

        {% for theme in themes %}

            <figure>
                <a 
                    href="https://codepen.io/philippebeck/pen/{{ theme.link }}" 
                    title="See the {{ theme.name }} Pen for CSS Code">
                    <img 
                        src="img/themes/{{ theme.name|lower }}.png" 
                        alt="The {{ theme.name }} theme">
                <figcaption>
                    <a 
                        href="https://codepen.io/pen/?template={{ theme.link }}" 
                        title="See the {{ theme.name }} Template for CSS Code">
                        <h3>{{ theme.name }}</h3>
                        <p>{{ theme.definition }}</p>
                        <i class="fa-solid fa-palette"></i>
                    </a>
                </figcaption>
            </figure>

        {% endfor %}

        </figure>
    </section>
</main>
{% endblock %}
