<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" 
        content="IE=edge">

    <title>{% block title %}{% endblock %}</title>

    <link rel="canonical" 
        href="{% block canonical %}https://animadio.org{% endblock %}">
    <link rel="icon" 
        href="https://animadio.org/public/img/favicon.ico" 
        type="image/x-icon">
    <link rel="preconnect"
        href="https://fonts.gstatic.com"> 

    <link rel="preload" 
        href="https://fonts.googleapis.com/css2?family=Gabriela&family=Share+Tech+Mono&family=Text+Me+One&display=swap" 
        as="style">
    <link rel="preload" 
        href="node_modules/@fortawesome/fontawesome-free/css/all.min.css" 
        as="style">
    <link rel="preload" 
        href="node_modules/animadio/dist/animadio.min.css" 
        as="style">
    <link rel="preload" 
        href="css/style.css" 
        as="style">

    <meta name="description"
        content="{% block description %}{% endblock %}">
    <meta name="author"      
        content="Philippe Beck">

    <meta property="og:type"        
        content="website">
    <meta property="og:title"       
        content="{{ block('title') }}">
    <meta property="og:url"         
        content="{{ block('canonical') }}">
    <meta property="og:description" 
        content="{{ block('description') }}">
    <meta property="og:image"       
        content="{% block image %}https://animadio.org/img/logo.png{% endblock %}">

    <meta name="twitter:card"        
        content="summary">
    <meta name="twitter:title"       
        content="{{ block('title') }}">
    <meta name="twitter:site"        
        content="{{ block('canonical') }}">
    <meta name="twitter:description" 
        content="{{ block('description') }}">
    <meta name="twitter:image"       
        content="{{ block('image') }}">
    <meta name="twitter:creator"     
        content="@ph_beck">

    <link rel="stylesheet"
        media="all" 
        href="https://fonts.googleapis.com/css2?family=Gabriela&family=Share+Tech+Mono&family=Text+Me+One&display=swap">
    <link rel="stylesheet" 
        media="all" 
        href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" 
        media="all" 
        href="node_modules/animadio/dist/animadio.min.css">
    <link rel="stylesheet" 
        media="all" 
        href="css/style.css">
</head>

<body>
    {{ include('layout/navbar.twig') }}

    <header>
        <h1 class="color-violet shatex-blur-md">
            {{ block('title') }}
        </h1>
    </header>

    {% block main %}{% endblock %}

    {{ include('layout/footer.twig') }}

    {% block script %}{% endblock %}
</body>
</html>
