<nav class="navbar">
    <input id="navbar-close" type="radio" name="navbar" checked>
    <input id="navbar-open" type="radio" name="navbar">

    {% if (isLogged()) %}
        <a class="anima-slipR" href="{{ url('admin') }}" title="{{ getUserVar('name') }} Admin">
            <img class="bord-circle" src="img/user/{{ getUserVar('image') }}" alt="{{ getUserVar('name') }} Picture">
        </a>
    {% else %}
        <a class="anima-slipR" href="{{ url('user') }}" title="Admin Login Only">
            <img class="cursor-none" src="img/logo-nav.png" alt="Logo">
        </a>
    {% endif %}

    <ul>
        <li>
            <a href="./" accesskey="h" title="Go back Home">
                <i class="fas fa-laptop-house fa-lg"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="{{ url('start') }}" accesskey="s" title="Getting Start with Animadio">
                <i class="fas fa-play fa-lg"></i>
                <span>Start</span>
            </a>
        </li>
        <li>
            <a href="{{ url('template') }}" accesskey="t" title="Templates for Animadio">
                <i class="fas fa-box-open fa-lg"></i>
                <span>Template</span>
            </a>
        </li>
        <li>
            <a href="{{ url('doc') }}" accesskey="d" title="Animadio Full Documentation">
                <i class="fas fa-book fa-lg"></i>
                <span>Doc</span>
            </a>
        </li>
    </ul>

    <ul class="anima-slipL">
        <li>
            <a class="color-cyan-onto" href="{{ url('contact') }}" title="Contact">
                <i class="fas fa-at fa-lg"></i>
            </a>
        </li>
        <li>
            <a class="color-pp-onto" href="https://www.paypal.me/philippebeck" title="Donation">
                <i class="fab fa-paypal fa-lg"></i>
            </a>
        </li>
        <li>
            <a class="color-pink-onto" href="https://github.com/sponsors/philippebeck" title="Sponsor">
                <i class="far fa-heart fa-lg"></i>
            </a>
        </li>
    </ul>

    <label for="navbar-close" title="Close the Navigation Menu">
        <i class="fas fa-angle-double-up fa-lg"></i>
    </label>
    <label for="navbar-open" title="Open the Navigation Menu">
        <i class="fas fa-angle-double-down fa-lg"></i>
    </label>
</nav>
