<article class="sidebar-target4">
    <h4>Container</h4>

    <section class="card-black">
        <h5>Container</h5>
        <p>Container classes are made to provide containers, add a box keywords to use it as a special effect !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/box/variables/_container.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/box/classes/_container.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <table class="table">
        <caption>Container Datas</caption>

        <thead>
        <tr>
            <th>Class</th>
            <th>Value</th>
            <th>Property</th>
            <th>Media</th>
            <th>Concat</th>
        </tr>
        </thead>

        <tbody>
        {% for container in containerClasses %}
            <tr>
                <th>{{ container.class }}</th>
                <td>{{ container.valor }}</td>
                <td>{{ container.property }}</td>
                <td>{{ container.media|replace({'1': "All", '2': "sm", '3': "md", '4': "lg", '5': "wd"}) }}</td>
                <td>{{ container.concat|replace({'0': "no", '1': "yes"}) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
