<section class="menu-target3">
    <h2>
        <i class="fas fa-images fa-lg"></i>
        Keyframes
    </h2>

    <header class="head">
        Rules @keyframes are made for basic usage,
        to build complex animations, 
        it's necessary to use animation options...
    </header>

    {% for category, keyframeCat in keyframes %}

    <table class="table">
        <thead>
            <tr>
                <th id="{{ category }}"
                    class="bg-violet-light trans-up"
                    colspan="2">
                    <a href="https://developer.mozilla.org/fr/docs/Web/CSS/transform-function/{{ family|lower }}()"
                        title="Go to the {{ category }} transform function in the MDN Web Docs">
                        {{ category }}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>

            {% for keyframe in keyframeCat %} 
            <tr>
                <td>
                    {{ keyframe.name }}
                </td>
                <td>
                    {{ keyframe.effect }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endfor %}
</section>
