<section class="menu-target3">
    <h2>Keyframes</h2>

    <header class="head">
        Rules @keyframes are made for basic usage,
        to build complex animations, 
        it's necessary to use animation options...
    </header>

    {% for category, keyframeCat in keyframes %}

    <table class="table">
        <tr>
            <th id="{{ category }}"
                class="bg-violet-light trans-up"
                colspan="2">
                <a href="https://developer.mozilla.org/fr/docs/Web/CSS/transform-function/{{ family|lower }}()"
                    title="Go to the {{ category }} transform function in the MDN Web Docs">
                    {{ category }}
                </a>
            </th>
        </tr>

        {% for keyframe in keyframeCat %} 
        <tr>
            <td>
                {{ keyframe.name }}
            </td>
            <td>
                {{ keyframe.effect }}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% endfor %}
</section>
