<article id="variable-home"
    class="menu-target2">
    <h2>
        <i class="fas fa-glass-whiskey fa-lg"></i>
        Variables
    </h2>

    <header class="head">
        More than 500 CSS Variables of Animadio can be overload !
        <br>
        And you can find here all of the variables...
    </header>

    <nav class="sidebar">
        <a href="#variable-home" 
            title="Variable Home">
            <i class="fas fa-chevron-circle-up fa-fw"></i>
        </a>
        <a href="#variable-list" 
            title="Variable List">
            <i class="fas fa-list fa-fw"></i>
        </a>
    </nav>

    <i class="fas fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    <section id="variable-list">
        <h3>
            <i class="fas fa-list"></i> 
            Variable List
        </h3>

        <ul class="container-90tn-80lg-70wd row">

            {% for category in variables|keys %}

            <li>
                <a class="button-violet"
                    href="#variable-{{ category }}" 
                    title="Go to {{ category }} Variables !">
                {{ category }}
                </a>
            </li>

            {% endfor %}
        </ul>

        <i class="fas fa-sort fa-2x mar-top-lg"
            aria-hidden="true">
        </i>

        {% for category, variableCat in variables %}

        <section id="variable-{{ category }}">
            <h4>
                <a class="btn-violet btn-lg"
                    href="https://github.com/animadio/animadio/tree/master/src/variables/_{{ category }}.var.scss"
                    title="Go to the {{ category }} file in the GitHub Repository">
                    {{ category|title }} 
                </a>
            </h4>

            <table class="table">
                <tbody>

                    {% for variable in variableCat %} 
                    <tr>
                        <td>
                            --{{ variable.name }}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </section>

        {% endfor %}
    </section>
</article>
