<section id="variable-home"
    class="menu-target2">
    <h2>
        <i class="fas fa-glass-whiskey fa-lg"></i>
        Variables
    </h2>

    <nav class="sidebar">
        <a href="#variable-home" 
            title="Variable Home">
            <i class="fas fa-chevron-circle-up"></i>
        </a>
        <a href="#variable-list" 
            title="Variable List">
            <i class="fas fa-list"></i>
        </a>
    </nav>

    <header class="head">
        More than 500 CSS Variables of Animadio can be overload !
        <br>
        And you can find here all of the variables...
    </header>

    <section id="variable-list">
        <h3>Variable List</h3>

        <ul class="container-90tn-80lg-70wd row">

            {% for category in variables|keys %}

            <li>
                <a class="button-violet"
                    href="#variable-{{ category }}" 
                    title="Go to {{ category }} Variables !">
                {{ category }}
                </a>
            </li>

            {% endfor %}
        </ul>

        {% for category, variableCat in variables %}

        <table class="table">
            <thead>
                <tr>
                    <th id="variable-{{ category }}"
                        class="bg-violet-light trans-up">
                        <a href="https://github.com/animadio/animadio/tree/master/src/variables/_{{ category }}.var.scss"
                            title="Go to the {{ category }} file in the GitHub Repository">
                            {{ category }}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for variable in variableCat %} 
                <tr>
                    <td>
                        --{{ variable.name }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% endfor %}
    </section>
</section>
